<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"> -->
    <link rel="preload" href="/assets/css/preload.css" as="style" />
    <link rel="stylesheet" href="/assets/css/preload.css" />

    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/favicon-128x128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <!-- og images -->
    <!-- HTML Meta Tags -->
    <title>Kawnek Restaurant</title>
    <meta name="description" content="Kawnek Restaurant Software" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://restaurant.kawnek.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Kawnek Restaurant" />
    <meta property="og:description" content="Kawnek Restaurant Software" />
    <meta property="og:image" content="/assets/images/restaurant-og-img.webp" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="restaurant.kawnek.com" />
    <meta property="twitter:url" content="https://restaurant.kawnek.com" />
    <meta name="twitter:title" content="Kawnek Restaurant" />
    <meta name="twitter:description" content="Kawnek Restaurant Software" />
    <meta
      name="twitter:image"
      content="/assets/images/restaurant-og-img.webp"
    />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <!-- end og images -->
  </head>
  <body>
    <div class="preload-wrapper">
      <div class="loader"></div>
    </div>
    <!-- quasar:entry-point -->
  </body>
</html>
